<div class="mt-5">
  <div class="row">
    <mat-form-field appearance="outline" class="mb-3 mr-3">
      <mat-label>Category</mat-label>
      <mat-select
        [ngModel]="selectedCategoryId"
        (ngModelChange)="onCategoryChange($event)"
      >
        <mat-option>All</mat-option>
        <mat-option
          *ngFor="let category of categories | async"
          [value]="category.id"
          >{{ category.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-3">
      <mat-label>Sort</mat-label>
      <mat-select [ngModel]="sortBy" (ngModelChange)="onSortByChange($event)">
        <mat-option>Default</mat-option>
        <mat-option value="lth">Price: Low to High</mat-option>
        <mat-option value="htl">Price: High to Low</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <div *ngFor="let product of visibleProducts | async" class="col-4">
      <mat-card class="mb-5">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="product.image" [src]="product.image" class="mb-3" />
        <mat-card-content>
          <p>{{ product.description }}</p>
          <p>In stock: {{ product.quantity }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
