<div class="container mt-5">
  <div class="row mb-5">
    <div class="col">
      <h1 class="display-1">Majestic Art</h1>
      <h2>About</h2>
      <p>
        Majestic Art is a family run business based in Kansas City, MO. We make
        all sorts of art, from landscape paintings to ceramic pots and mugs. We
        pride ourselves on our quality and commitment to producing the best
        pieces available to buy. And the best part? You won't find better value
        anywhere else.
      </p>
      <h2>Contact</h2>
      <p>Have questions or issues? You can contact us the following ways:</p>
      <span><strong>Phone</strong>: 800-500-1300</span>
      <br />
      <span
        ><strong>Email</strong>:
        <a href="mailto:majesticartucmo@gmail.com">majesticartucmo@gmail.com</a>
      </span>
    </div>
    <div class="col">
      <img
        src="https://images.unsplash.com/photo-1549490349-8643362247b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
        alt=""
      />
    </div>
  </div>
</div>
