<h1 mat-dialog-title>Update Password</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Current Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="currentPassword"
        required
      />
      <mat-error
        *ngIf="
          currentPassword.invalid &&
          (currentPassword.dirty || currentPassword.touched)
        "
        >Current password is required</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input type="email" matInput formControlName="newPassword" required />
      <mat-error
        *ngIf="
          newPassword.invalid && (newPassword.dirty || newPassword.touched)
        "
        >New password is required</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input type="email" matInput formControlName="confirmPassword" required />
      <mat-error
        *ngIf="
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched) &&
          confirmPassword.errors.required
        "
        >Confirm password is required</mat-error
      >
      <mat-error
        *ngIf="
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched) &&
          form.errors.confirmPassword
        "
        >New password doesn't match</mat-error
      >
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="form.invalid"
  >
    Update
  </button>
</mat-dialog-actions>
