<h1 mat-dialog-title>Update Password</h1>
<div mat-dialog-content>
  <p>New Password requirements:</p>
  <ul>
    <li>At least 8 characters</li>
    <li>One lowercase letter</li>
    <li>One uppercase letter</li>
    <li>One number</li>
    <li>One special character (?, !, @, etc)</li>
  </ul>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Current Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="currentPassword"
        required
      />
      <mat-error
        *ngIf="
          currentPassword.invalid &&
          (currentPassword.dirty || currentPassword.touched) &&
          currentPassword.errors.required
        "
        >Current password is required</mat-error
      >
      <mat-error
        *ngIf="
          currentPassword.invalid &&
          (currentPassword.dirty || currentPassword.touched) &&
          currentPassword.errors.notCurrent
        "
        >Current password is not correct</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="mb-3">
      <mat-label>New Password</mat-label>
      <input type="password" matInput formControlName="newPassword" required />
      <mat-error
        *ngIf="
          newPassword.invalid &&
          (newPassword.dirty || newPassword.touched) &&
          newPassword.errors.required
        "
        >New password is required</mat-error
      >
      <mat-error
        *ngIf="
          newPassword.invalid &&
          (newPassword.dirty || newPassword.touched) &&
          newPassword.errors.pattern
        "
        >New password doesn't meet requirements</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="confirmPassword"
        required
      />
      <mat-error
        *ngIf="
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched) &&
          confirmPassword.errors.required
        "
        >Confirm password is required</mat-error
      >
      <mat-error
        *ngIf="
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched) &&
          confirmPassword.errors?.noMatch
        "
        >New password doesn't match</mat-error
      >
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="form.invalid"
  >
    Update
  </button>
</mat-dialog-actions>
