<div class="mt-5">
  <h3>Order Details</h3>
  <div *ngIf="order$ | async as order">
    <h5>Shipping To:</h5>
    <span>{{ order.user.fullName }}</span>
    <br />
    <span>{{ order.user.email }}</span>
    <br />
    <span
      >{{ order.user.address.line1 }} {{ order.user.address.line2 || '' }}</span
    >
    <br />
    <span
      >{{ order.user.address.city }}, {{ order.user.address.state }}
      {{ order.user.address.zipCode }}</span
    >
    <br />
    <br />
    <h5>Cost</h5>
    <span *ngIf="subtotal$ | async as subtotal">
      Subtotal: {{ subtotal | currency }}
    </span>
    <br />
    <span *ngIf="taxes$ | async as taxes">Taxes: {{ taxes | currency }}</span>
    <br />
    <span *ngIf="shippingRate$ | async as shippingRate">
      Shipping:
      {{ (isFreeShipping$ | async) ? 'Free' : (shippingRate | currency) }}
    </span>
    <br />
    <span *ngIf="total$ | async as total">Total: {{ total | currency }}</span>
    <br />
    <br />
    <h5>Status</h5>
    <span>Order Status: </span>
    <span [ngSwitch]="order.status">
      <span *ngSwitchCase="1"> Received </span>
      <span *ngSwitchCase="2"> Processing </span>
      <span *ngSwitchCase="3">Shipped</span>
      <span *ngSwitchDefault> Processing </span>
    </span>
    <br />
    <p>Last Updated: {{ order.updatedAt | date: 'short' }}</p>
    <h5>Products Ordered:</h5>
    <div class="row">
      <div *ngFor="let product of order.products" class="col-4">
        <mat-card class="mb-5">
          <mat-card-header>
            <mat-card-title>{{ product.name }} </mat-card-title>
            <mat-card-subtitle>{{
              product.price | currency
            }}</mat-card-subtitle>
          </mat-card-header>
          <img *ngIf="product.image" [src]="product.image" class="mb-3" />
          <mat-card-content>
            <p>{{ product.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
