<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/" class="mr-3">Majestic Art</a>
    <a routerLink="/store">Store</a>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/cart" class="mr-3">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <div *ngIf="!authenticated">
      <a routerLink="/register" class="mr-3">Register</a>
      <a routerLink="/login">Login</a>
    </div>
    <div *ngIf="authenticated">
      <button mat-button [matMenuTriggerFor]="menu">
        {{ name }} <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">Profile</button>
        <button *ngIf="isAdmin" mat-menu-item routerLink="/admin">
          Admin
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
