<h1 class="my-3">My Cart</h1>
<div *ngIf="!(items | async).length">
  <p>You currently have no items in your cart</p>
</div>
<div *ngIf="(items | async).length">
  <p *ngIf="subtotal$ | async as subtotal">
    Subtotal: {{ subtotal | currency }}
  </p>
  <p *ngIf="taxes$ | async as taxes">Taxes: {{ taxes | currency }}</p>
  <p *ngIf="shippingRate$ | async as shippingRate">
    Shipping:
    {{ (isFreeShipping$ | async) ? 'Free' : (shippingRate | currency) }}
  </p>
  <p *ngIf="total$ | async as total">Total: {{ total | currency }}</p>
  <div class="row">
    <div *ngFor="let product of items | async" class="col-4">
      <mat-card class="mb-5">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="product.image" [src]="product.image" class="mb-3" />
        <mat-card-content>
          <p>{{ product.description }}</p>
          <button mat-icon-button color="warn" (click)="removeProduct(product)">
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="authenticated">
    <button
      mat-button
      mat-flat-button
      class="mb-5"
      color="primary"
      (click)="checkout()"
    >
      Checkout
    </button>
  </div>
  <div *ngIf="!authenticated">
    <p>
      <a routerLink="/login" [queryParams]="{ return: '/cart' }">Login</a> or
      <a routerLink="/register" [queryParams]="{ return: '/cart' }">register</a>
      to checkout
    </p>
  </div>
</div>
