<h1 class="my-3">My Cart</h1>
<div *ngIf="!(items | async).length">
  <p>You currently have no items in your cart</p>
</div>
<div *ngIf="(items | async).length">
  <div *ngIf="totalCost$ | async as totalCost">
    <p>Subtotal: {{ totalCost.subtotal | currency }}</p>
    <p>Taxes: {{ totalCost.tax | currency }}</p>
    <p>
      Shipping:
      {{ totalCost.shipping ? (totalCost.shipping | currency) : 'Free' }}
    </p>
    <p>Total: {{ totalCost.total | currency }}</p>
  </div>
  <div class="row">
    <div *ngFor="let product of items | async" class="col-4">
      <mat-card appearance="outlined" class="mb-5">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="product.image" [src]="product.image" class="mb-3" />
        <mat-card-content>
          <p>{{ product.description }}</p>
          <button mat-icon-button color="warn" (click)="removeProduct(product)">
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="authenticated">
    <button
      mat-button
      mat-flat-button
      class="mb-5"
      color="primary"
      (click)="checkout()"
    >
      Checkout
    </button>
  </div>
  <div *ngIf="!authenticated">
    <p>
      <a routerLink="/login" [queryParams]="{ return: '/cart' }">Login</a> or
      <a routerLink="/register" [queryParams]="{ return: '/cart' }">register</a>
      to checkout
    </p>
  </div>
</div>
