<h1 mat-dialog-title>Customer Details</h1>
<div mat-dialog-content>
  <p><strong>Name</strong>: {{ data.firstName + ' ' + data.lastName }}</p>
  <p><strong>Email</strong>: {{ data.email }}</p>
  <p><strong>Shipping Address</strong>:</p>
  <span>{{ data.address.line1 }} {{ data.address.line2 || '' }}</span>
  <br />
  <span
    >{{ data.address.city }}, {{ data.address.state }}
    {{ data.address.zipCode }}</span
  >
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
